h1 {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-style: italic;
	font-weight: bolder;
	font-size: 3em;
}

body {
	margin-left: 400px;
	margin-top: 100px;
}

h5 {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	text-align: left;
	margin-right: 400px;
	font-size: 1.5em;
	color: white;
	font-weight: bolder;
}

.link
{
	color: white;
	text-decoration: none;
}